<div class="container mt-5">
  <h1 class="text-start mb-4">Stupid Coaching</h1>
  <div class="text-start mb-4 bg-light-yellow">
    <p class="lead"><%= @question %></p>
  </div>
  <div class="text-start mb-4">
    <p><em>-You</em></p>
  </div>
  <div class="text-start mb-4 bg-light-yellow">
    <p class="lead"><%= @answer %></p>
  </div>
  <div class="text-start">
    <p><em>-Coach</em></p>
  </div>
   <div class="text-start mt-4">
<%= link_to("Ask a new question", ask_path)%>
</div>
</div>
